<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AppFii - Teste</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="" />
  </head>






  
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="adm-index.html"><img src="https://lh5.googleusercontent.com/FStkOnGeJ5IOdeKLCYHyfFNGC2soDUfhnl_yPgObDyQvQDzOr97Q0RECtMuTlsgZeOcJ-EyXVz_XUAc1So4zQXW_bKMwMLC7pmRrKddj5Js8jLQJSwHm-V748uP2HNE9OrsQ3IwQg5thEPqfmLyWnmzmxAewKwNtN4qImWsHWj1srbF0UplRpOVHL-kb4zQY" alt="logo"></a>
          <a class="sidebar-brand brand-logo-mini" href="adm-index.html"><img src="https://lh3.googleusercontent.com/BwEv8yWTmx42pAtWYEVf7BTqCxe3KSpXjIGLRKFKrAF1Vj1b3MTYG1sLcXdRlNun-rXzIoLf6jPirlD4BxbJ5zQBnpCeQpkn9gfi9fC4a41oLdHbl32R3rQwNqVR_okC-Ux0maLeyWM_umJjGDpncTxkzo5kwYxbf8kPTUIeXchC4_4fk0yqiOptOGoqUP5L" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://media-exp1.licdn.com/dms/image/D4D35AQED3uYTGL-nGg/profile-framedphoto-shrink_200_200/0/1659580643407?e=1666357200&v=beta&t=P9hCXpVh1PYbFGgJgdUsm9YSyVzMV9LRfG1n7I9l810" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Emanuel</h5>
                  <span>User</span>
                  
                </div>
              </div>
              
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                



                
                
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Índice</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="adm-index.html">
              <span class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/user_carteira.html">
              <span class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                  <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
              </span>
              <span class="menu-title">Carteira</span>
            </a>
          </li>

         
          
          <li class="nav-item menu-items">
            
            </li>
                                <li class="nav-item menu-items">
                                  <a class="nav-link" href="https://br.tradingview.com/chart/e70XTQXl/?symbol=BMFBOVESPA%3AIFIX" target="_blank">
                                    <span class="menu-icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                      </svg>              </span>
                                    <span class="menu-title">Bovespa</span>
                                  </a>
                                </li>
          
        
         
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/icone.png" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">

              
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://media-exp1.licdn.com/dms/image/D4D35AQED3uYTGL-nGg/profile-framedphoto-shrink_200_200/0/1659580643407?e=1666357200&v=beta&t=P9hCXpVh1PYbFGgJgdUsm9YSyVzMV9LRfG1n7I9l810" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Emanuel</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Perfil</h6>
                  <div class="dropdown-divider"></div>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Sair</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center"></p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                
              </div>
            </div>


            

            <div class="row">

              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Calendário econômico</h3>
                          
                        </div>
                      </div>


                      <div class="col-3">

                    
                          
                        <button class="calendario"><a href="https://br.investing.com/economic-calendar/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="calendario" viewBox="0 0 16 16">
                          <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
                          <path d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z"/>
                        </svg></a></button>

                       
                      </div>


                    </div>
                    
                  </div>
                </div>
              </div>



    




              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Bolsa de valores</h3>
                          
                        </div>
                      </div>


                      <div class="col-3">

                    
                          
                          <button><a href="https://www.b3.com.br/pt_br/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bolsa" viewBox="0 0 16 16">
                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                          </svg></a></button>

                       
                      </div>


                    </div>
                    
                  </div>
                </div>
              </div>




              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">InfoMoney</h3>
                          
                        </div>
                      </div>


                      <div class="col-3">

                    
                          
                          <button><a href="https://www.infomoney.com.br/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="infomoney" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                          </svg></a></button>

                       
                      </div>


                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">MoneyTimes</h3>
                          
                        </div>
                      </div>


                      <div class="col-3">

                    
                          
                          <button><a href="https://www.moneytimes.com.br/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="moneytimes" viewBox="0 0 16 16">
                            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                            <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                          </svg></a></button>

                       
                      </div>


                    </div>
                    
                  </div>
                </div>
              </div>



               
                <header class="meiasso">

                    <br>
                  
                  <div class="meio">
                    <h1>Tabela de Fundos imobiliarios</h1>
                    
                  </div>
                  
                </header>
                    
              
              
              <section class="tabela">
              <div class="container1">
                
                  <!--for demo wrap-->
                  <div class="tbl-header1">
                    <table>
                      <thead class="">
                        <tr>
                          <th>Código</th>
                          <th>Setor</th>
                          <th>Preço atual</th>
                          <th>Liquidez</th>
                          <th>Dividendo</th>
                          <th>DY</th>
                          <th>DY(3m)</th>
                          <th>DY(6m)</th>
                          <th>DY(12m)</th>
                          <th>DY ano</th>
                          <th>Variação preço</th>
                          <th>Rentab</th>
                          <th>Patrimônio</th>
                          <th>VPA</th>
                          <th>P/VPA</th>
                          <th>Variação</th>
                          <th>Rent. Patrimônio</th>
                          <th>Vacancia</th>
                          <th>Quantidade</th>
                        </tr>

                        
                      </thead>
                    </table>
                  </div>
                  <div class="tbl-content1">
                    <table>
                      <tbody>
                        <tr>
                                <td><span th:text= "${tabela_fii.CODIGO}"></span></td>
			<td><span th:text= "${tabela_fii.SETOR}"></span></td>
			<td><span th:text= "${tabela_fii.PRECO_ATUAL}"></span></td>
		 	<td><span th:text= "${tabela_fii.LIQUIDEZ_DIARIA}"></span></td>
			<td><span th:text= "${tabela_fii.DIVIDENDO}"></span></td>
			<td><span th:text= "${tabela_fii.DY}"></span></td>
			<td><span th:text= "${tabela_fii.DY_3M}"></span></td>
			<td><span th:text= "${tabela_fii.DY_6M}"></span></td>
			<td><span th:text= "${tabela_fii.DY_12M}"></span></td>
            <td><span th:text= "${tabela_fii.VARIACAO_PRECO}"></span></td>
			<td><span th:text= "${tabela_fii.RENTAB}"></span></td>
            <td><span th:text= "${tabela_fii.PATRIMONIO}"></span></td>
			<td><span th:text= "${tabela_fii.VPA}"></span></td>
			<td><span th:text= "${tabela_fii.P_VPA}"></span></td>
            <td><span th:text= "${tabela_fii.VARIACAO}"></span></td>
            <td><span th:text= "${tabela_fii.VACANCIA}"></span></td>
           	<td><span th:text= "${tabela_fii.QUANTIDADE}"></span></td>
                            </tbody>
                        </div>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>





              </div>
              


             


           
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>





