<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/src/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Carteira</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/images/logos/logo 1.png " />
  </head>






  
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="https://lh5.googleusercontent.com/FStkOnGeJ5IOdeKLCYHyfFNGC2soDUfhnl_yPgObDyQvQDzOr97Q0RECtMuTlsgZeOcJ-EyXVz_XUAc1So4zQXW_bKMwMLC7pmRrKddj5Js8jLQJSwHm-V748uP2HNE9OrsQ3IwQg5thEPqfmLyWnmzmxAewKwNtN4qImWsHWj1srbF0UplRpOVHL-kb4zQY" alt="logo"></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="https://lh3.googleusercontent.com/BwEv8yWTmx42pAtWYEVf7BTqCxe3KSpXjIGLRKFKrAF1Vj1b3MTYG1sLcXdRlNun-rXzIoLf6jPirlD4BxbJ5zQBnpCeQpkn9gfi9fC4a41oLdHbl32R3rQwNqVR_okC-Ux0maLeyWM_umJjGDpncTxkzo5kwYxbf8kPTUIeXchC4_4fk0yqiOptOGoqUP5L" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://media-exp1.licdn.com/dms/image/D4D35AQED3uYTGL-nGg/profile-framedphoto-shrink_200_200/0/1659580643407?e=1666357200&v=beta&t=P9hCXpVh1PYbFGgJgdUsm9YSyVzMV9LRfG1n7I9l810" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Emanuel</h5>
                  <span>Administrador</span>
                </div>
              </div>
              
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Índice</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="./homecarteira.html">
              <span class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                  <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
              </span>
              <span class="menu-title">Carteira</span>
            </a>
          </li>

          
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="./homeusuarios.html">
              <span class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                  <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                </svg>              </span>
                <span class="menu-title">Usuários</span>
              </a>
            </li>
                                <li class="nav-item menu-items">
                                  <a class="nav-link" href="https://br.tradingview.com/chart/e70XTQXl/?symbol=BMFBOVESPA%3AIFIX" target="_blank">
                                    <span class="menu-icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                      </svg>              </span>
                                    <span class="menu-title">Bovespa</span>
                                  </a>
                                </li>
          
          <li class="nav-item menu-items">
            
          </li>
          <li class="nav-item menu-items">
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            
              
            <ul class="navbar-nav navbar-nav-right">







              
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://media-exp1.licdn.com/dms/image/D4D35AQED3uYTGL-nGg/profile-framedphoto-shrink_200_200/0/1659580643407?e=1666357200&v=beta&t=P9hCXpVh1PYbFGgJgdUsm9YSyVzMV9LRfG1n7I9l810" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Emanuel</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Perfil</h6>
                  <div class="dropdown-divider"></div>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Sair</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center"></p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <div class="carteira">

            <section>
              <h1>Detalhes Carteira</h1>
              <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th><p class="centro">Codigo Fii</p></th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                          <!-- inicio do form dentro da table-->
                          <div class="container">
                            <form class="">
                              <div class="form-group">
                                <br>
                                <label for="exampleInputEmail1"><p class="branco">Código do Fii</p></label>
                                <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Autocomplete">
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="exampleInputPassword1"><p class="branco">Quantidade de Cotas</p></label>
                                <input type="" class="form-control" id="exampleInputPassword1" placeholder="">
                              </div>
                              <br><br>
                              <button type="submit" class="botaocarteira">Adicionar na Carteira</button>
                  
                            </form>
                          </div>
                </table>
              </div>
            </section>                
                        
            <section>
              <!--for demo wrap-->
              <h1>Detalhes</h1>
              <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Preço atual</th>
                      <th>Cotas</th>
                      <th>Proventos</th>
                      <th>Rentabilidade</th>
                      <th>Investido</th>
                      <th>Setor</th>
                      <th>Deletar</th>
                      <th>Editar</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr th:each="fundos : ${fundoscad}">
                     <td><span th:text="${fundos.nomeConvidado}"></span></td>
	                    <td><span th:text="${fundos.cotacao}"></span></td>
	                    <td><span th:text="${fundos.rg}"></span></td>
	                    <td><span th:text="${fundos.proventos}" ></span></td>
	                    <td><span th:text="${fundos.rentabilidade}"></span>%</td>
	                    <td>R$<span th:text="${fundos.investido}"></span></td>
	                    <td><span th:text="${fundos.setor}"></span></td>
	                     
	                    </tr>
	                    
	        	                    
	               <tfoot >
  					<tr>
     					<td colspan="2"><b>Total Dividendos:</b></td>
     					<td th:text="${#numbers.formatCurrency(#aggregates.sum(fundos.![proventos]))}"></td>
     					<td colspan="2"><b>Valor Carteita:</b></td>
     					<td th:text="${#numbers.formatCurrency(#aggregates.sum(fundos.![investido]))}"></td>
     			<!-- 	<td colspan="2"><b>Rent. Carteita:</b></td>
     				<td th:text="${#numbers.formatCurrency(#aggregates.sum(convidados.![investido])/(#aggregates.sum(convidados.![investido]))}"></td> -->
 					</tr>
				</tfoot>
	                    
	                    
	            </tbody>
                </table>
              </div>
            </section>        
            
              </div>

          </div>

          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>